.introtop{

}

.title {
    color:blue;
    font-weight:bold;
    font-size:60px;
    text-align: center;
    font-family: fantasy;

}
img{
    float:right;
    margin-top:75px;
padding-left:20px;
padding-right:20px;
border-radius: 40px;


}

.linksss{
    text-align:center;
    margin-top:-15px;
    margin-bottom:5px;
}
.paddingleft{
    padding-left:20px;
}
.number{
margin-left:220px;
    text-align:center;
    margin-bottom:30px;
}

.email{
    margin-left:220px;
    text-align:center;
}


.education{
    font-size:20px;
    margin-bottom:30px;
}

.eduinfodart{
    margin-bottom:5px;
}

.edu{
margin-bottom:20px;
}

.publication{
    font-size:12px
}

.work{
    font-size:20px;
    margin-top:30px;
    margin-bottom:30px;
}

.compsci{
    font-weight:bold;


}


}
.bullets{
    margin-bottom:30px;
    font-family:monospace,sans-serif,helvetica;
}

.listOfProj{

    width:500px;
    border:3px solid black;
    height:300px;

}

.projlist{

font-size:20px;
visibility:hidden;
}

.visible{

font-size:20px;
}

.quoteslist{
    font-size:20px;
    text-decoration: underline;

}


.blah{
    visibility:hidden;
}

.button1{
    width:60px;
    height:40px;
}

.button2{
    width:60px;
    height:40px;
}

.all{
    background-color:pink;
}

/*.companyital{
    margin-top:5px;
    font-size:12px;
}*/
