<h1> Add New Article!!</h1>

<form action = "/articles" method= "POST"> <label for="article_name"> Article Name:</label>
    <input type= "text" id = "article"
    name = "article">
    <input type= "submit">Add Article</input>
</form>

<a class="back" href="/articles">Back To My Articles!!!</a>
  </body>
</html>
