

<form action = "/articles" method= "post"> <label for="article_name"> Article!:</label>
    <input type= "text" id = "article"
    name = "article">
    <input type= "submit">
</form>
  </body>
</html>
