body {


}

h1{
    color:steelblue;
    font-style: italic;
    font-weight:bold;
    font-size: 50px;
}

h2{
    color:#674172;
    font-size:40px;
}

h3{
    color:lightcoral;
    font-size:30px;
    font-weight:bold;
}

h4{
    color:#1BA39C;
    font-size:25px;
    font-style:italic;
}

a{
    color:red;
}

p{
    color:mediumpurple;
}
