

<h1>Welcome One and All to the Magical Creatures Website!</h1>
<img src = "/dragon.png">
<p> hi there, this is like, my website, its reeally great. boy do i love it. soooooo much dude. ok so look, you get a list and need to cllick and stuff happens thats real good. this costs  a  lot of money if you want me to make you one for yourself. I make portfolios.</p>
