<!DOCTYPE html>
<html>
    <head>
        <title>Basic HTML Page</title>
        <link rel ="stylesheet" href="home.css"
    </head>

<body>
    <h1>todolist</h1>
    <ul>
        <%@tasks.each do |task| %>
        <li><%=task%></li>
        <%end%>
    </ul>

    
</body>
</html>
